    <h1 align="center">Registro de Data</h1>
    <br>
    <script>
        function borrar(){
            setTimeout('document.fo3.reset()',2000);
            return false;
        }
    </script>
    <div class="container">
        <form action="/api/Datos/" enctype="application/x-www-form-urlencoded" class="form-horizontal" role="form" method="POST" id="fo3" name="fo3" onSubmit="return borrar()">

            <div class="form-group">
                <label for="Nombre" class="col-lg-2 control-label">Nombre</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre" value=""/>
                </div>
            </div>
            <div class="form-group">
                <label for="Categoria" class="col-lg-2 control-label">Categoria</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="Categoria" name="Categoria" placeholder="Introduce tu categoria" value=""/>
                </div>
            </div>
            <div class="form-group">
                <label for="Descripcion" class="col-lg-2 control-label">Descripcion</label>
                <div class="col-lg-4">
                    <input class="form-control" id="Descripcion" name="Descripcion" placeholder="Introduce tu Descripcion" value=""/>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-success">Registrar Datos</button>
                </div>
            </div>

        </form>
    </div>

    <hr>
    <div class="container" align="center">
        <h3 id="ResultadoRegistro"></h3>
    </div>
    
    <script src="http://code.jquery.com/jquery-latest.js" language="javascript"></script>
    <script language="javascript">
    $(document).ready(function() {
        // Interceptamos el evento submit
        $('#form, #fat, #fo3').submit(function() {
        // Enviamos el formulario usando AJAX
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function(data) {
                    $('#ResultadoRegistro').html(`Registrastes: ${data.Nombre}, ${data.Categoria}, ${data.Descripcion}`);

                }
            })
            return false;
        }); 
    })
    </script>
